html,body {
  overflow: hidden;
  height: 100%;
}
div.wrapper {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
div.content {
  display: table-cell;
  vertical-align: middle;
}
div.article>h2 {
  display: inline-block;
}
div.article>i {
  display: block;
  font-size: 100px;
  color: rgb(80, 193, 218);
}
div.hidden {
  display: none;
}
